<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=0">


<link rel="stylesheet" type="text/css" href="static/css/style.css">


</head>
<body>
  <div><nav class="nav1bar">
    <ul class=" main-nav">
      <li><img class="imgsize" src="static/img/skip logo.png"></li>
      <div class="push" style="margin-left: auto"><li></li></div>
    </ul>
  </nav></div>
  <p>{{ link }}</p>
  <iframe class="video" src="{{ link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>
