<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body style="background-image: url(static/img/bluebg.png);"> 
    <div><nav class="nav1bar">
        <ul class=" main-nav">
          <li><img class="imgsize animated slideInLeft delay-0.5s" src="static/img/skip logo.png" style="width:200px;height: 100px;margin-left: 30px;"></li>
          <div class="push" style="margin-left: auto"><li></li></div>
        </ul>
      </nav></div>
      <p>{{yotube_link}}</p>
    
    <iframe style="margin-left: 110px" width="1060" height="600" src="{{yotube_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>